<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Verify Your Email</title>
</head>
<body>
    <h1>Thanks for signing up, {{.FirstName}}!</h1>
    <p>Thanks for joining! Please verify your email by clicking the link below:</p>
    <p><a href="{{.VerificationLink}}">Verify Email</a></p>
</body>
</html>